<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="searchIEEE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <searchIEEE.Properties.Settings>
            <setting name="IEEE_MAL" serializeAs="String">
                <value>https://standards.ieee.org/develop/regauth/oui/oui.csv</value>
            </setting>
            <setting name="IEEE_MAM" serializeAs="String">
                <value>https://standards.ieee.org/develop/regauth/oui28/mam.csv</value>
            </setting>
            <setting name="IEEE_MAS" serializeAs="String">
                <value>https://standards.ieee.org/develop/regauth/oui36/oui36.csv</value>
            </setting>
            <setting name="IEEE_IAB" serializeAs="String">
                <value>https://standards.ieee.org/develop/regauth/iab/iab.csv</value>
            </setting>
            <setting name="IEEE_CID" serializeAs="String">
                <value>https://standards.ieee.org/develop/regauth/cid/cid.csv</value>
            </setting>
            <setting name="IEEE_Ethertype" serializeAs="String">
                <value>https://standards.ieee.org/develop/regauth/ethertype/eth.csv</value>
            </setting>
            <setting name="IEEE_Manufacturer" serializeAs="String">
                <value>https://standards.ieee.org/develop/regauth/manid/manid.csv</value>
            </setting>
            <setting name="IEEE_Operator" serializeAs="String">
                <value>https://standards.ieee.org/develop/regauth/bopid/opid.csv</value>
            </setting>
            <setting name="IEEE_LocalDB" serializeAs="String">
                <value/>
            </setting>
        </searchIEEE.Properties.Settings>
    </userSettings>
</configuration>
